<div id="applet">
	<object type="application/x-java-applet" height="569" width="530" id="scanner_applet">
		<param name="code" value="br.com.miltecnologia.main.Digitalizar" />
		<param name="archive" value="AppletScan.jar, JTwain.jar, JTwainLicense.jar, commons-codec-1.7.jar" />
    </object>
</div>


<%= form_tag("/images/upload", :method => "post", :id => "imagem_upload_form") do %>
	<%= hidden_field_tag :image_data %>
<% end %>
